
<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Agregar Producto</div>
  <div class="card-body">
    <p class="card-text">Esta funcionalidad le permite agregar un nuevo producto</p>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Agregar</a>
  </div>
</div>

