@using FarmerStore.Models.Products

@model Product


<div asp-validation-summary="ModelOnly"></div>
<form asp-action="Register">
    <label for="Name">Nombre</label>
    <input id="Name" asp-for="Name" type="text" class="form-control" placeholder="Nombre del Producto">
    <span asp-validation-for="Name"></span>
    <p>@ViewBag.Message</p>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
